.cookie-popup {
  z-index: 9999 !important;
  max-width: 400px !important;
  right: 30px;

  bottom: 30px;
  left: auto;

  @media (max-width: 500px) {
    max-width: 100% !important;
    left: 30px;
  }

  #cookies-agree {
    margin-bottom: 10px !important;
    font-size: 12px !important;
    display: none;
  }

  .fusion-button {
    background: $green !important;
    padding: 15px 30px !important;
    font-weight: 500 !important;

    border-radius: 24px !important;
    color: $white !important;
    text-transform: none !important;

    .fusion-button-text {
      text-transform: none !important;
      font-size: 18px !important;
      font-weight: 500 !important;
    }

    &.brown-button {
      background: $brown !important;
    }
  }

  .cookie-options {
    font-size: 12px;
  }

  img {
    width: 25px;
    height: 25px;
    object-fit: contain;

    position: absolute;
    right: 15px;
    top: 30px;
  }

  .content {
    display: none;
  }

  .title {
    //color: $text-color !important;
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .cookie-preferences .content ul {
    border-color: $brown !important;
  }

  .main-cookies {
    max-width: 1200px !important;

    .cookie-link {
      color: $green !important;
    }
  }

  p {
    font-size: 14px !important;
    line-height: 1.2 !important;
    margin-bottom: 10px !important;
  }

  .custom-link {
    display: inline-block !important;
    float: left;
    //color: $text-color !important;

    &:focus {
      outline: none !important;
    }
  }

  .save-cookies {
    display: flex;
    flex-direction: column-reverse;
  }

  .cookie-preferences {
    width: 100% !important;

    ul {
      list-style: none;
      border-radius: 0;
      background: $white;

      flex-direction: column !important;

      li {
        color: $text-color !important;
        font-size: 14px !important;
        margin-bottom: 5px !important;

        a {
          color: $text-color !important;
          text-decoration: none !important;
          font-size: 14px !important;

          &:hover {
            text-decoration: none;
            color: darken($text-color, 20%) !important;
          }

          &:after {
            display: none;
          }
        }

        .css-checkbox {
          background: #eeeeee;

          &:focus {
            outline: none !important;
          }

          &:after {
            background: #eeeeee;
          }

          &:checked {
            background: $green;

            &:after {
              background: #eeeeee;
            }
          }
        }
      }
    }
  }
}

.vb-show {
  display: block !important;
}

.vb-hidden {
  display: none !important;
}

.cookie-reload {
  //color: $yellow !important;
  padding: 0 !important;
}