// Defaults

// Captcha hidden

.grecaptcha-badge {
  visibility: hidden;
}


// Body & paragraphs

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: $font !important;
  font-size: 20px !important;
}

#boxed-wrapper {

  p, th, td, li {
    -webkit-font-smoothing: antialiased !important;
    font-family: $font !important;
    font-size: 18px !important;
  }

  b, strong {
    font-weight: 700 !important;
  }

  // Links & buttons

  a {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;

    text-decoration: none !important;
    font-family: inherit !important;

    &:hover {
      text-decoration: none !important;
    }

    &.fusion-button {
      background: $green !important;
      padding: 15px 30px !important;
      font-weight: 500 !important;

      border-radius: 24px !important;
      color: $white !important;
      text-transform: none !important;

      .fusion-button-text {
        text-transform: none !important;
        font-size: 18px !important;
        font-weight: 500 !important;
      }

      &.brown-button {
        background: $brown !important;
      }
    }
  }

  .wpcf7-submit {


    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  // Fontawesome

  i {
    font-family: 'Font Awesome 5 Pro' !important;
    font-style: normal !important;
  }
}