// Defaults

// Captcha hidden

.grecaptcha-badge {
  visibility: hidden;
}


// Body & paragraphs

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: $font !important;
  font-size: 20px !important;

  color: $text-color !important;
}

#boxed-wrapper {

  p, th, td, li {
    -webkit-font-smoothing: antialiased !important;
    font-family: $font !important;
    font-size: 18px !important;

    color: $text-color !important;
  }

  b, strong {
    font-weight: 700 !important;
  }

  // Links & buttons

  a {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;

    text-decoration: none !important;
    font-family: inherit !important;

    &:hover {
      text-decoration: none !important;
    }

    &.fusion-button {
      background: $green !important;
      padding: 15px 30px !important;
      font-weight: 500 !important;

      border-radius: 32px !important;
      color: $white !important;
      text-transform: none !important;

      position: relative;
      overflow: hidden;
      z-index: 1;

      @media (max-width: 640px) {
        font-size: 16px !important;
      }

      &:hover {

        &:before {
          top: -40%;
        }
      }

      &:before {
        transition-duration: .8s;
        position: absolute;
        width: 200%;

        height: 200%;
        content: "";
        top: 110%;

        left: 50%;
        background-color: $text-color;
        transform: translateX(-50%);

        border-radius: 50%;
        z-index: -1;
        transition: all .5s linear;
      }

      .fusion-button-text {
        text-transform: none !important;
        font-size: 18px !important;
        font-weight: 500 !important;
      }

      &.brown-button {
        background: $brown !important;
      }

      &.loadmore {
        padding: 5px 15px !important;
        background: $brown !important;
      }
    }
  }

  .wpcf7-submit {


    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  // Fontawesome

  i {
    font-family: 'Font Awesome 5 Pro' !important;
    font-style: normal !important;
  }
}