#boxed-wrapper {

  .fusion-mobile-menu-design-flyout.fusion-flyout-active .fusion-header {
    top: 0 !important;
    position: relative !important;
  }

  .fusion-flyout-menu-icons {
    float: left;

    .fusion-flyout-menu-toggle {
      background: $brown;
      padding: 20px;
      position: fixed;

      right: 0;
      top: 0;
    }
  }

  .fusion-header-has-flyout-menu .fusion-flyout-menu-icons .fusion-toggle-icon-line {
    background: $white !important;
  }


  .fusion-flyout-menu {
    margin-top: 0 !important;
    height: 100vh !important;
    animation-delay: 1s !important;

    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .fusion-menu {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      display: block !important;

      border: 0 !important;

      &.fly {
        opacity: 1 !important;
        transition: all 1.8s ease-in-out !important;
      }

      li {
        padding: 14px !important;
        position: relative;

        &.fusion-mobile-current-nav-item {

          a {
            color: $brown !important;

            &:before {
              transform: scale3d(1, 1, 1);
            }
          }

          .sub-menu {

            li {

              &.fusion-mobile-current-nav-item {

                a {
                  color: $brown !important;
                }
              }

              a {
                color: $white !important;
              }
            }
          }
        }

        a {
          color: $white !important;
          font-weight: 500;
          font-size: 20px !important;

          display: inline-flex !important;
          align-items: center !important;
          z-index: 9 !important;

          padding: 0 !important;
          height: auto !important;
          border: 0 !important;

          width: 100%;
          justify-content: center;
          position: relative;


          &:hover {
            text-decoration: none;
            color: $brown !important;
          }

          .menu-text {
            display: flex;
            flex-direction: column;
            gap: 15px;

            text-align: center;
            justify-content: center;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              min-width: 40px;

              object-fit: contain;
            }
          }
        }

        .custom-caret {
          position: absolute;
          right: 0;
          top: 50%;

          transform: translateY(-50%);
          width: 32px;
          height: 32px;

          text-align: center;
          font-size: 16px;
          line-height: 32px;

          color: #ffffff;
          background: rgba(255, 255, 255, 0.10);
          cursor: pointer;

          border-radius: 2px;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;

          -ms-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;

          z-index: 999;
          animation-delay: .3s;
          display: inline-block;

          &.rotate {
            transform: rotate(90deg);
            background: $brown;
          }
        }

        .sub-menu {
          height: 0 !important;
          padding: 0 !important;

          opacity: 0 !important;
          display: flex !important;
          flex-direction: column !important;

          &.open {
            padding-top: 14px !important;
            display: flex !important;
            height: auto !important;

            opacity: 1 !important;
          }

          li {

            &.fusion-mobile-current-nav-item {

              a {
                color: $brown !important;

                &:before {
                  transform: scale3d(1, 1, 1);
                }
              }
            }

            a {
              font-size: 14px !important;
              position: relative;

              &:before {
                transform: scale3d(0, 1, 1);
              }

              .custom-caret {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  .change {

    .fusion-flyout-menu-toggle {

      .fusion-toggle-icon-line {
        background: $white !important;
        color: $white !important;
        z-index: 99999;
      }
    }
  }

  .fusion-flyout-menu-bg {
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: -1 !important;
    -webkit-transform: translateY(101%) !important;
    -ms-transform: translateY(101%) !important;
    transform: translateY(101%) !important;
    transition: all 900ms ease !important;
    -moz-transition: all 900ms ease !important;
    -webkit-transition: all 900ms ease !important;
    -ms-transition: all 900ms ease !important;
    -o-transition: all 900ms ease !important;
    min-height: 0 !important;

    &.active-bg {
      background: rgba(0, 0, 0, .85) !important;
      opacity: 1 !important;
      visibility: visible !important;
      -webkit-transition: all 0.7s ease !important;
      -moz-transition: all 0.7s ease !important;
      -ms-transition: all 0.7s ease !important;
      -o-transition: all 0.7s ease !important;
      transition: all 0.7s ease !important;
      -webkit-transform: translateY(0%) !important;
      -ms-transform: translateY(0%) !important;
      transform: translateY(0%) !important;
      z-index: 1 !important;
    }
  }
}