// Theme fixes


#boxed-wrapper {
  #main {

    .title-sep-container {
      display: none !important;
    }
  }

  .static-row {

    .fusion-builder-row {
      position: static !important;
    }
  }

  .custom-row-width {

    .fusion-builder-row {

      @media (min-width: 1026px) {
        padding-left: 55px !important;

        &.fusion-builder-row-inner {
          padding-left: 0 !important;
        }
      }
    }
  }

  .static-image-column {

    @media (min-width: 1025px) {
      position: absolute;
      right: 0;
      top: -60px;

      width: 45%;
      height: calc(100% + 60px);
    }

    .fusion-column-wrapper {
      height: 100%;

      .fusion-image-element {
        height: 100%;

        .fusion-imageframe {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            border-radius: 90px 0 0 0;

            @media (max-width: 1024px) {
              border-radius: 90px 90px 0 0;
            }
          }
        }
      }
    }

    &.custom-static-right {

      @media (min-width: 1025px) {
        height: calc(100% + 190px);
      }
    }
  }

  .static-image-column-left {

    @media (min-width: 1025px) {
      position: absolute;
      left: 0;
      top: -60px;

      width: 40%;
      height: calc(100% + 60px);
    }

    .fusion-column-wrapper {
      height: 100%;

      .fusion-image-element {
        height: 100%;

        .fusion-imageframe {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            border-radius: 0 90px 0 0;
          }
        }
      }
    }

    &.custom-static-left {

      @media (min-width: 1025px) {
        width: 55%;
        top: -120px;
        height: calc(100% + 120px);

        .fusion-column-wrapper {
          margin-left: 0 !important;
        }
      }
    }
  }


  .flex-reverse {

    .fusion-builder-row {

      @media (max-width: 1024px) {
        flex-direction: column-reverse !important;
      }
    }
  }

  .fusion-text {

    a {
      color: $green !important;
      text-decoration: underline !important;
    }
  }

  .min-400 {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;

      @media (min-width: 1025px) {
        height: 400px;
      }

      @media (max-width: 1024px) {
        border-radius: 90px 90px 0 0;
      }
    }
  }

  .mr-lg-0 {

    .fusion-column-wrapper {

      @media (min-width: 1025px) {
        margin-right: 0 !important;
      }
    }
  }

  .border-radius-top-right-0 {

    @media (max-width: 1024px) {
      border-radius: 0 0 90px 90px !important;
      --awb-border-radius: 0 0 90px 90px !important;
    }
  }
}