// Theme fixes


#boxed-wrapper {
  #main {

    .title-sep-container {
      display: none !important;
    }
  }

  .static-row {

    .fusion-builder-row {
      position: static !important;
    }
  }

  .static-image-column {

    @media (min-width: 1025px) {
      position: absolute;
      right: 0;
      top: -60px;

      width: 45%;
      height: calc(100% + 60px);
    }

    .fusion-column-wrapper {
      height: 100%;

      .fusion-image-element {
        height: 100%;

        .fusion-imageframe {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            border-radius: 120px 0 0 0;

            @media (max-width: 1024px) {
              border-radius: 120px 120px 0 0;
            }
          }
        }
      }
    }
  }


  .flex-reverse {

    .fusion-builder-row {

      @media (max-width: 1024px) {
        flex-direction: column-reverse !important;
      }
    }
  }
}