#boxed-wrapper {

  .banner-row {
    height: 460px;
    //margin-top: -30px;
    //z-index: 99999;

    padding-right: 0 !important;
    padding-left: 0 !important;

    @media (max-width: 1024px) {
      margin-top: 60px;
      height: auto;
    }

    .fusion-builder-row {
      max-width: 1350px !important;

      .fusion-layout-column {
        height: 100%;

        .fusion-column-wrapper {

          @media (min-width: 1025px) {
            padding-left: 55px;
          }

          .fusion-image-element {
            height: 100%;

            .fusion-imageframe {
              height: 100%;
              width: 100%;
              border-radius: 0 0 120px 0;
              
              &.auto-height {

                img {
                  height: auto !important;
                }
              }

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;

                border-radius: 0 0 120px 0;
                object-position: center center;
              }
            }
          }
        }
      }
    }
  }
}