#boxed-wrapper {

  .cta-column {

    @media (max-width: 1024px) {
      width: 50% !important;
    }

    &.brown-cta {

      .fusion-column-wrapper {
        border-color: $brown !important;
        gap: 5px;

        .fusion-image-element {

          .fusion-imageframe {

            img {
              width: 40px;
              height: 40px;
              min-width: 40px;

              object-fit: contain;
            }
          }
        }

        .fusion-text {

          p, a {
            color: $brown !important;
          }
        }
      }
    }

    .fusion-column-wrapper {
      padding: 15px;
      border: 1px solid $white !important;
      border-radius: 28px;

      display: flex;
      align-items: center;
      justify-content: center;

      .fusion-text {
        text-align: center;

        p, a {
          color: $white !important;
          font-size: 14px !important;
          font-weight: 500 !important;

          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}