#boxed-wrapper {

  .custom-menu-row {
    z-index: 999999;

    @media (max-width: 1024px) {
      z-index: 0;
      background: $brown !important;
    }
  }

  .custom-main-menu {
    padding: 0 30px;

    @media (max-width: 1024px) {
      padding: 0;
    }

    .custom-main-menu-wrapper {
      padding: 45px 60px;
      background: $brown;
      border-radius: 90px;

      display: flex;
      justify-content: space-between;
      gap: 45px;


      @media (max-width: 992px) {
        flex-wrap: wrap;
        padding: 45px 0;
        justify-content: flex-start;

        gap: 0;
      }

      .custom-menu-item {

        @media (max-width: 992px) {
          width: 33.333333%;
          margin-bottom: 45px;
        }

        @media (max-width: 640px) {
          width: 50%;
        }

        &:last-child {
          @media (max-width: 992px) {
            margin-bottom: 0;
          }
        }

        a {
          display: flex;
          flex-direction: column;
          gap: 15px;

          color: $white !important;
          font-weight: 500 !important;
          justify-content: center;

          align-items: center;
          text-align: center;

          &:hover {
            color: #d6cac7 !important;
          }

          @media (max-width: 992px) {
            font-size: 16px !important;
          }

          img {
            width: 60px;
            height: 60px;
            object-fit: contain;

            min-width: 60px;

            @media (max-width: 1200px) {
              width: 40px;
              height: 40px;
              min-width: 40px;
            }
          }
        }
      }
    }
  }
}