#boxed-wrapper {

  .custom-footer {

    .fusion-row {
      max-width: 1350px;
      display: flex;
      flex-wrap: wrap;

      padding-left: 0;

      @media (max-width: 1200px) {
        flex-direction: column-reverse;
        padding-left: 0;
      }

      .footer-column {
        background: #F7F3F2;
        padding: 45px 0;
        display: flex;

        align-items: center;

        &.footer-left-column {

          @media (min-width: 1021px) {
            padding-left: 55px;
          }
        }

        @media (max-width: 1200px) {
          padding-left: 30px;
        }

        @media (max-width: 640px) {
          padding: 15px 30px;
        }

        @media (min-width: 1201px) {

          &:before {
            content: '';
            background: #F7F3F2;
            width: 500%;

            height: 100%;
            position: absolute;
            right: 100%;

            top: 0;
          }
        }

        &.footer-right-column {
          border-radius: 0 120px 0 0;
          justify-content: flex-end;
          padding: 45px 45px 45px 0;

          @media (max-width: 1200px) {
            justify-content: flex-start;
            padding-left: 30px;
          }

          &:before {
            display: none;
          }


          .footer-inner-column {
            gap: 0;
            justify-content: flex-end;
            padding-right: 60px;

            @media (max-width: 1200px) {
              justify-content: flex-start;
              padding-right: 0;
            }

            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              display: flex;

              li {

                &:last-child {

                  &:after {
                    display: none;
                  }
                }

                &:after {
                  content: '|';
                  display: inline-block;
                  padding: 0 5px;

                  color: $brown !important;
                  font-size: 14px !important;

                  @media (max-width: 500px) {
                    display: none;
                  }
                }

                a {
                  font-size: 14px !important;
                  color: $brown !important;
                  position: relative;

                  &:hover {

                    &:before {
                      width: 100%;
                      left: 0;
                    }
                  }

                  &:before {
                    content: '';
                    width: 0;
                    height: 1px;

                    background: $brown;
                    position: absolute;
                    right: 0;

                    bottom: 0;
                    transition: all .3s ease-in-out;
                    -webkit-transition: all .3s ease-in-out;
                  }
                }
              }
            }
          }
        }

        .footer-inner-column {
          display: flex;
          gap: 25px;

          @media (min-width: 1250px) {
            gap: 45px;
          }

          @media (max-width: 640px) {
            gap: 0;
            width: 100%;
            justify-content: space-between;
          }

          img {
            //width: 180px;
            height: 40px;
            object-fit: contain;

            @media (max-width: 640px) {
              width: 20%;
            }
          }
        }
      }
    }
  }
}