#boxed-wrapper {

  header {

    .fusion-header {
      padding: 10px 30px 0;

      &.no-z {
        z-index: 0 !important;
      }

      .fusion-row {
        max-width: 1350px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 992px) {
          flex-direction: column;
        }

        .logo-section {
          display: flex;
          gap: 30px;

          @media (max-width: 992px) {
            width: 100%;
            justify-content: space-between;
          }

          @media (max-width: 640px) {
            //flex-direction: column;
          }

          .fusion-logo {
            width: 300px;

            @media (max-width: 1200px) {
              width: 250px;
            }
          }

          .socials {
            margin-top: 35px;

            @media (max-width: 640px) {
              //margin-top: 0;
            }

            a {
              width: 45px;
              height: 45px;

              &:hover {

                img {
                  transform: translateY(-7px);
                }
              }

              img {
                width: 45px;
                height: 45px;
                object-fit: contain;

                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
              }
            }
          }

        }

        .menu-section {

          .opening-hours {
            display: flex;
            gap: 5px;
            align-items: center;

            justify-content: flex-end;
            color: $green;
            font-weight: 500 !important;

            margin-top: 35px;

            @media (max-width: 992px) {
              justify-content: flex-start;
            }

            img {
              width: 35px;
              height: 35px;
              object-fit: contain;
            }
          }

        }
      }
    }
  }

  .fusion-menu-header {
    position: relative;

    &.sticky-header {

      @media (min-width: 1126px) {
        position: fixed;
        top: 0;
        width: 100%;

        .menu-row {
          margin-top: 0;
        }
      }
    }

    .menu-row {

      @media (min-width: 1320px) {
        margin-top: -25px;
      }

      @media (min-width: 1126px) {
        padding: 20px 75px;
        background: $brown;
        border-radius: 0 0 160px 160px;

        max-width: 1200px;
      }

      .fusion-main-menu {
        width: 100%;

        ul {
          display: flex;
          justify-content: space-between;

          li {

            a {
              height: auto !important;
              border: 0 !important;
              color: $white !important;

              font-weight: 500 !important;

              .menu-text {
                display: flex;
                flex-direction: column;
                gap: 15px;

                text-align: center;
                justify-content: center;
                align-items: center;

                img {
                  width: 40px;
                  height: 40px;
                  min-width: 40px;

                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}

.home {

  #boxed-wrapper {

    .fusion-menu-header {
      display: none;
      position: fixed;
      top: 0;

      width: 100%;

      &.sticky-active {
        display: flex;
      }

      .menu-row {
        margin-top: 0 !important;
      }
    }
  }
}