#boxed-wrapper {

  header {

    .fusion-header {
      padding: 10px;

      .fusion-row {
        max-width: 1350px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
          flex-direction: column;
        }

        .logo-section {
          display: flex;
          gap: 30px;

          @media (max-width: 640px) {
            flex-direction: column;
          }

          .fusion-logo {
            width: 300px;

            @media (max-width: 1200px) {
              width: 250px;
            }
          }

          .socials {
            margin-top: 35px;

            @media (max-width: 640px) {
              margin-top: 0;
            }

            a {
              width: 45px;
              height: 45px;

              &:hover {

                img {
                  transform: translateY(-7px);
                }
              }

              img {
                width: 45px;
                height: 45px;
                object-fit: contain;

                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
              }
            }
          }

        }

        .menu-section {

          .opening-hours {
            display: flex;
            gap: 5px;
            align-items: center;

            justify-content: flex-end;
            color: $green;
            font-weight: 500 !important;

            margin-top: 35px;

            @media (max-width: 1024px) {
              justify-content: flex-start;
            }

            img {
              width: 35px;
              height: 35px;
              object-fit: contain;
            }
          }

        }
      }
    }
  }

  .fusion-menu-header {
    position: fixed;
    left: 0;
    top: 32px;

    width: 100%;
    background: $brown;

    opacity: 0;
    height: 0;
    transition: all .3s ease-in-out;

    -webkit-transition: all .3s ease-in-out;

    &.sticky-active {
      opacity: 1;
      height: 50px;
    }

    .menu-row {
      display: flex;
      max-width: 1350px;
      flex-wrap: wrap;

      height: 100%;
      align-items: center;

      .main-menu {
        width: 100%;
        display: flex;
        justify-content: center;

        @media (max-width: 1125px) {
          justify-content: flex-end;
          padding: 0 30px;
        }

        .fusion-main-menu {
          float: none;
          width: 100%;

          ul {
            display: flex;
            justify-content: space-between;

          }

          li {
            padding-right: 0 !important;
            text-align: center;

            a {
              height: auto !important;
              border: 0 !important;
              color: $white !important;
            }
          }
        }
      }
    }
  }
}