#boxed-wrapper {

  .side-menu {
    position: fixed;
    right: 0;
    top: 150px;

    z-index: 999999;

    &.no-z {
      z-index: 99;

    }

    .side-menu-wrapper {
      position: relative;
      padding: 30px;
      background: $white;

      @media (max-width: 1024px) {
        padding: 30px 15px;
        border-radius: 30px 0 0 30px;
      }

      .side-menu-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .side-menu-content-item {

          a {
            display: flex;
            flex-direction: column;
            gap: 10px;

            align-items: center;
            color: $brown !important;
            font-size: 14px !important;

            img {
              width: 40px;
              height: 40px;
              object-fit: contain;

              @media (max-width: 1024px) {
                height: 25px;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}