#boxed-wrapper {

  .brown-after {

    .fusion-column-wrapper {
      //position: relative;

      &:after {
        content: '';
        background: $brown;
        height: 100%;

        width: 500%;
        position: absolute;
        left: 100%;

        top: 0;

        @media (min-width: 1025px) {
          left: calc(100% - var(--awb-spacing-right));
        }
      }
    }

    .cta-column {

      .fusion-column-wrapper {

        &:after {
          display: none !important;
        }
      }
    }
  }

  .brown-background-small {

    @media (max-width: 1024px) {
      background: $brown !important;

      .fusion-layout-column {
        border-radius: 0 !important;
        --awb-border-radius: 0 !important;
      }
    }
  }

  .button-flex {
    display: flex;
    gap: 15px;
    flex-direction: column;

    @media (min-width: 641px) {
      flex-direction: row;
    }
  }
}