#boxed-wrapper {

  .brown-after {

    .fusion-column-wrapper {
      //position: relative;

      &:after {
        content: '';
        background: $brown;
        height: 100%;

        width: 500%;
        position: absolute;
        left: calc(100% - var(--awb-spacing-right));

        top: 0;
      }
    }

    .cta-column {

      .fusion-column-wrapper {

        &:after {
          display: none !important;
        }
      }
    }

    &.custom-brown-after {

      @media (max-width: 640px) {
        --awb-border-radius: 0 !important;

        &:before {
          content: '';
          background: $brown;
          width: 500%;

          right: calc(100% - var(--awb-spacing-left));
          top: 0;
          position: absolute;

          height: 100%;
        }
      }
    }
  }

  .brown-background-small {

    @media (max-width: 1024px) {
      background: $brown !important;

      .fusion-layout-column {
        border-radius: 0 !important;
        --awb-border-radius: 0 !important;
      }
    }
  }

  .button-flex {
    display: flex;
    gap: 15px;
    flex-direction: column;

    @media (min-width: 641px) {
      flex-direction: row;
    }
  }
}