#boxed-wrapper {

  table {
    border: 0 !important;
    box-shadow: none !important;

    @media (min-width: 641px) {
      table-layout: fixed;
      width: 100%;
    }

    thead {

      tr {
        border: 0 !important;
        border-bottom: 1px solid rgba($brown, .3) !important;

        th {
          font-family: $font !important;
          font-weight: 700 !important;
          color: $brown !important;

          background: rgba($brown, .05);
          border: 0 !important;
        }
      }
    }

    tbody {
      border: 0 !important;


      tr {
        position: relative;
        border-bottom: 1px solid rgba($brown, .3);

        &:nth-of-type(even) {
          background: rgba($brown, .05) !important;

          td {
            background: transparent !important;
          }
        }

        td {
          background: rgba($brown, .05) !important;
          font-size: 14px !important;
          border: 0 !important;
        }
      }
    }
  }

  .table-row {
    background: rgba($brown, .05);
    border-radius: 120px;
  }

  .table-layout {
    padding: 20px 20px 40px;
    border-radius: 28px;
    background: rgba($brown, .03) !important;

    display: none;

    &.active {
      display: block;
    }

    &.always-active {
      display: block !important;
    }

    thead {

      th {
        background: rgba($brown, .03) !important;

        &.center {
          text-align: center;
        }
      }

    }

    tbody {

      tr {

        &:nth-of-type(even) {
          background: rgba($brown, .03) !important;

          td {
            background: transparent !important;
          }
        }
      }

      td {
        background: rgba($brown, .03) !important;
      }
    }

  }
}