// Color variables
$black: #000000;
$white: #ffffff;

//$primary-color: #a1bb19;
$text-color: #4B4B4B;
$green: #C4D600;
$light-beige: #F7F3F2;

$brown: #817573;

#boxed-wrapper {

  .accent {
    color: $green !important;

    h1, h2, h3, h4, h5, h6, p, a, li, strong {
      color: $green !important;
    }
  }

  .white-color {
    color: $white !important;

    h1, h2, h3, h4, h5, h6, p, a, li, strong {
      color: $white !important;
    }
  }
}